.title-category{
    font-size: 50px;
    color:#002f4b;
    text-transform:uppercase;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 30px;    
}

.centre{
    justify-content: center;
}

.sticky-el{
    position: sticky;
    top: 0;
    z-index: 2;
    background-color: #fff;  
}

.category-list{
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 20px 40px;     
    border-top: 2px solid #42bce5;
    border-bottom: 2px solid #42bce5;
}

.category-list ul{
    width: 100%;
    display: flex;
    justify-content: center;
    
}

.category-list ul li a{
    text-decoration: none;
    padding: 0 20px;
    font-family: "Bebas Neue", sans-serif;    
    color: #002f4b;    
    text-transform: uppercase;
    letter-spacing: 1px;
    transition: all 0.3s ease-in-out;
}

.category-list ul li a:hover{
    color:#42bce5;
    
}


/* Content */


.list-news{
    flex-wrap: wrap;
}

.list-news .news {
    padding: 0 20px;
    padding-bottom: 20px;
    
}

.list-news article img{
    width: 327px;
    height: 246px;
}

.caption{
    margin: 0 15px;
    background-color: #fff;
    position: relative;
    z-index: 1;
    margin-top: -25px;
    padding: 20px;
    transition: all .3s ease-in-out;
}

.caption:hover{
    box-shadow: 0px 0px 15px 0px rgb(0 0 0 / 20%);    
    transition: all ease-in-out .3s;
}

.caption .category-news{
    margin-top: -33px;
}

.caption .category-news span {
    padding: 10px;
    font-family: "Bebas Neue", sans-serif;
    font-weight: 700;
    letter-spacing: 1px;
    font-size: 12px;
    display: inline-block;
    text-align: left;
    background: #7fbfc6;
    color: #fff;
}

.caption .title-news{
    font-size: 23px;
    line-height: 24px;
    overflow: hidden;
    color: #42bce5;
    text-transform: uppercase;
    letter-spacing: 3px;
    margin-top: 34px;
    margin-bottom: 30px;
    font-family: "Bebas Neue", sans-serif;
    font-weight: 700;
}

.caption .intro-news{
    font-size: 16px;
    line-height: 25px;
    margin-bottom: 30px;
    overflow: hidden;
}

.caption .meta-news{
    color: #aaaab1;
    font-size: 12px;
    margin-bottom: 35px;
}

.caption .sta-news{
    margin: 0;
    position: relative;
    background: #eeeeee
}

.btn-news .btn-label {
    height: 42px;
    line-height: 25px;
    font-weight: 700;
    font-family: "Bebas Neue", sans-serif;
    text-transform: uppercase;
}


.btn-news {
    border: none;
    color: #002f4b;
    font-size: 16px;
    letter-spacing: 3px;
    padding: 10px 50px;
    padding-left: 20px;
    text-align: left;
    display: block;
    width: auto;
    transition: all 0.3s ease-in-out;
}

.btn-news:hover{
    background: #002f4b;
    color: #fff;
}

.btn-lable {
    display: inline-block;
    position: absolute;
    right: -1px;
    padding: 3px 15px;
    background: #002f4b;
    border-radius: 0;
    color: #fff;
    top: -1px;
    text-align: center;
}

.plus{
    display: inline-block;
    font-size: 23px;    
    font-weight: bold;
}

.title-popular-posts {
    color: #42bce5;
    font-size: 34px;
    font-weight: 400;
    font-family: "Bebas Neue",sans-serif;
    letter-spacing: 2.8px;
    text-align: center;
    margin-bottom: 30px;
    
    
}

.news-popular{
    justify-content: center;
}

.img-popular-post{
    width: 70px;
    height: 70px;
    text-align: end;
    padding-right: 0;
}

.img-popular-post a img{
   width: 70px;
    height: 70px;   
    vertical-align: middle;
    border-radius: 50%;
}

.caption-popular-post{
    padding-left: 20px;
}

.caption-popular-post .title-populare-post{
    line-height: 20px;
    font-size: 14px;
    letter-spacing: 1.6px;
    font-family: "Bebas Neue", sans-serif;
    
}

.caption-popular-post .title-populare-post a{
    color: #002f4b;
    transition: all 0.3s ease-in-out;
    text-decoration: none;
}

.date-populare-post{
    margin: 0;
    font-size: 12px;
    font-style: italic;    
}

@media(max-width: 767px){
    .blog-content .right, .category-list{
        display: none;
    }
    .list-news article img{
        width: 80%;
        height: 50%;
    }

    .title-category{
        font-size: 20px;
    }

    .list-news{
        justify-content: center;
        width: 100%;
    }

    .container-inner, .container-white, .list-news{
        margin: 0;
        padding: 0;
        width: 100%;
    }

    .blog-content{
        text-align: center;
        margin: auto;
        padding: 0;
    }

    .caption .title-news{
        font-size: 20px;
        margin-bottom: 10px;
    }

    .caption .intro-news{
        font-size: 13px;
        margin-bottom: 10px;
    }

    .caption .meta-news{
        margin-bottom: 10px;
    }
}